<div class="next-page-container">
  <h1>The Next Button Page!</h1>
  <p></p><button class="next-button">Next</button>
  <button *ngIf="showSecondButton" class="next-button">Next</button>
  <button *ngIf="showSecondButton" class="next-button">Next</button>
  <button *ngIf="showThirdButton" class="next-button">Next</button>
  <button *ngIf="showFifthButton" class="next-button">Next</button>
  <button *ngIf="showSecondButton" class="next-button">Next</button>
  <button *ngIf="showThirdButton" class="next-button">Next</button>
  <button *ngIf="showSecondButton" class="next-button">Next</button>
  <button *ngIf="showFourthButton" class="next-button">Next</button>
  <button *ngIf="showFifthButton" class="next-button">Next</button>
  <button *ngIf="showFourthButton" class="next-button" (click)="goToBoyPage()">Next</button>
  <button *ngIf="showFifthButton" class="next-button">Next</button>
  <button *ngIf="showFifthButton" class="next-button">Next</button>


</div>
